

<div class="top container my-5">


  <!--Section: Content-->
  <section class="text-center dark-grey-text">

    <!-- Section heading -->
    <h3 class="font-weight-bold pb-2 mb-4">Our pricing plans</h3>
    <!-- Section description -->
    <p class="text-muted w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p>

    <!-- Grid row -->
    <div class="row">

<% @plans.data.each do |plan| %>
      <div class="col-lg-4 col-md-12 mb-4">

        <!-- Card -->
        <div class="pricing-card card">

          <!-- Content -->
          <div class="card-body">
            <h5 class="font-weight-bold mt-3"><%= plan.nickname %></h5>
<br />
            <!-- Price -->
            <div class="price pt-0">
              <div class="price pt-0">
              <h2 class="plan-price currency">₦</span><%= plan.amount / 100 %>
        </h2>/month
            </div>
            </div>

            <ul class="striped mb-1">
              <li>
                <p><strong>1</strong> project</p>
              </li>
              <li>
                <p><strong>100</strong> components</p>
              </li>
              <li>
                <p><strong>150</strong> features</p>
              </li>
              <li>
                <p><strong>200</strong> members</p>
              </li>
            </ul>
            <a class="btn btn-danger btn-rounded mb-4">
        Subscribe
         </a>
            
            

          </div>
          <!-- Content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

           <% end %>

     

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>























