
<header>


  <div class="view deep-orange darken-3">


    <!-- Content -->
    <div class="container h-100">
      <!--Grid row-->
      <div class="row align-items-center h-100">

        <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.2s">
          <h1 class="white-text mb-4">HOSPITALITY MARKETING AGENCY CREATING A DISTINCTIVE IMAGE FOR BRANDS</h1>
          <p class="mb-4 pb-2 white-text">KHS offers professional marketing solutions to hospitality outfits. We are the right choice to boost your revenue as we provide an array of services, from destination marketing to increasing your hotel patronage.  
          </p>
          <p class="mb-4 pb-2 white-text">


            We assist our clients in designing the digital landscape and also make them able to create a positive impression of their business. We are experts in using the right mix of media to keep our clients’ property in front of the right patrons so that it is top-of-mind for their hospitality needs.
          </p>

        </div>

        <div class="col-md-6 wow fadeInRight" data-wow-delay="0.2s">
          <%= image_tag 'it.png', class: 'img-flud' %>
        </div>
      </div>
    </div>

  </div>
  <!-- Full Page Intro -->

</header>
<!-- Main navigation -->

<div class="container my-5 py-5 z-depth-1">


  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">

        <h3 class="font-weight-bold deep-orange-text">Digital Marketing Solutions</h3>

        <p class="text-muted"><ul><li>Search engine optimization</li>
          <li>Search engine marketing</li>

          <li>Social media marketing</li></ul>

          ​

        The use of search engines, social media, and mobile marketing has revolutionized how guests access and book their stay. We help clients tap into this new trend and turn website visitors into bookers and guarantee success.. KHS assist hotels in increasing their visibility for boosting ROI..</p>


      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4 mb-md-0">

        <!--Image-->
        <div class="overlay z-depth-1-half">
          <%= image_tag 'media.jpg', class: 'img-fluid' %>
          <a href="#">
            <div class="rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>
<div class="container">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <div class="row pr-lg-5">
      <div class="col-md-7 mb-4">

        <%= image_tag 'revenue.png', class: 'img-fluid' %>

      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>

          <h3 class="font-weight-bold mb-4 deep-orange-text">Revenue Management</h3>

          <p>Clients discover unexplored potential revenue sources from working with KHS. We provide customized solutions to all of our clients, by designing a marketing strategy and being involved in the execution.</p> 

          <p>Our team is made up of extremely results-oriented professional. We will work with you throughout the entire decision-making process and guarantee success. Contact us to find out how I can help today.</p>


        </div>
      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>




<div class="container my-5 p-5 z-depth-1">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-4 pb-2 deep-orange-text">Branding</h2>


    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4">

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-2">

          </div>
         
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Web Design</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
    
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-2">

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Graphics Design</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
          </div>
 

        </div>
       
        <div class="row mb-md-0 mb-3">

          
          <div class="col-2">

          </div>
        
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Print solution</h5>
            <p class="grey-text mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam, aperiam minima assumenda deleniti hic.</p>
          </div>


        </div>
        <!-- Grid row -->

      </div>
 
      <div class="col-md-4 text-center">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png"
        alt="Sample image">
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-2">

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Photography</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-2">

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Content development</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-2">

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-10">
            <h5 class="font-weight-bold mb-3">Video production</h5>
            <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam, aperiam minima assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>

<div class="container">
  <section class="p-md-3 mx-md-5 text-lg-left">
    <div class="row d-flex justify-content-center align-items-center">
      <h2 class="font-weight-bold mb-3 deep-orange-text">Destination Marketing</h2>
      <p class="text-center py-3">
        As marketing professionals we understand that you are mainly in business to make profit and it is our aim that you achieve your goal
        We assist our clients in designing the digital landscape and also make them able to create a positive impression of their hotel. We are experts in using the right mix of media to keep our clients’ property in front of the right patrons so that it is top-of-mind for their hospitality needs..
      </p>
      <div class="overlay rounded z-depth-2 mt-3 mb-5">
        <%= image_tag 'destination.jpg', class: 'img-fluid' %>


      </div>
    </div>
  </section>
</div>