<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.email %></h1>
    <p>
     <%= @url %>.
    </p>
    <p>Thanks for Signing up and have a great day!</p>
  </body>
</html>