

<div class="top slide">
  <div class="container">
    <!--Grid row-->
    <div class="row mt-5">


      <div class="col-md-8 ">
        <!--Form-->
        <div class=" card wow fadeInRight" data-wow-delay="0.3s">
           <% @jobs.each do |job| %>
  
        <div class="card z-depth-0 bordered border-light">
          <div class="card-body p-0">
            <div class="row mx-0">
              <div class="col-md-8 grey lighten-4 rounded-left pt-4">
                <h5 class="font-weight-bold"><%= link_to job.title, job_path(job) %></h5>
                <%= job.company %>
                <p class="font-weight-light text-muted mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vitae, fuga similique quos aperiam tenetur quo ut rerum debitis.</p>
              </div>
              <div class="col-md-4 text-center pt-4">
                <%= link_to job_path(job) do %> 
                
                <p class="h1 font-weight-normal"><button type="button" class="btn btn-purple btn-rounded btn-sm px-3">Apply for this job</button></p>
                <% end %>
          </div>
        </div>
      </div>
    </div>
  

    
        <% end %>
      </div>
    </div>
       
      <div class="col-md-4 mb-5 text-md-left">
        <!-- Card -->
        <div class="testimonial-card">

      
          <div class="card-up orange lighten-1"></div>
          <br /><br />
<button class="btn btn-primary btn-lg btn-block" type="submit">Advertise Here</button>

            <!--Card-->
            <div class="card z-depth-0 border border-light rounded-0">

              <!--Card content-->
              <div class="card-body">
                <h4 class="mb-4 mt-1 h5 text-center font-weight-bold"></h4>

                <hr>

                <dl class="row">
                  <dd class="col-sm-12">
                    <%= image_tag 'slide.jpg', class: 'img-fluid' %>
                  </dd>
                  
                </dl>

                <hr>

                <dl class="row">
                  <dd class="col-sm-8">
            
                  </dd>
                  <dd class="col-sm-4">
           
                  </dd>
                </dl>

                <hr>

                <dl class="row">
                  <dd class="col-sm-8">
                 
                  </dd>
                  <dd class="col-sm-4">
           
                  </dd>
                </dl>

                <hr>

                <dl class="row">
                  <dt class="col-sm-8">
          
                  </dt>
                  <dt class="col-sm-4">
             
                  </dt>
                </dl>
              </div>

            </div>
            <!--/.Card-->

</div>
</div>
</div>
</div>
</div>
