<br />



<div class="top container">






  <!--Section: Content-->
  <section class="text-center dark-grey-text">

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 pb-2">Testimonials</h3>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p>

    <!-- Grid row -->
    <div class="row">

             <% User.all.each do |user| %>
      <div class="col-lg-4 col-md-12 mb-4">
        <!--Card-->
        <div class="card testimonial-card">
          <!--Background color-->
          <div class="card-up blue-gradient"></div>
          <!--Avatar-->
          <div class="avatar mx-auto white">
           <%= image_tag photo_url(user), class: "rounded-circle img-fluid" %>
          </div>
          <div class="card-body">
            <!--Name-->
            <h4 class="font-weight-bold mb-4"><%= link_to "#{user.first_name}", user_path(user) %></h4>
            <hr>
            <!--Quotation-->
            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet eos
              adipisci, consectetur adipisicing elit.</p>
          </div>
        </div>
        <!--Card-->
      </div>
      <!--Grid column-->

  
<% end %>
    </div>
    <!-- Grid row -->

  </section>
 
</div>      