  <div id="footer">
    <footer class="page-footer  text-center text-md-left mt-5">
  <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
        © 2020 Copyright: <a href="https://mdbootstrap.com/docs/jquery/"> KellaHospitality Solutions</a>

      </div>
    </div>
    <!--/.Copyright-->

  </footer>
</div>