@import 'noty/lib/noty';
@import 'noty/lib/themes/sunset';

  html,
  body,
  header,
  .view {
height: 700px;


  }


h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
   font-family: "Roboto Slab", serif;
}

.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;

}


  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
     font-family: Crete Round, Arial, Helvetica, sans-serif;
}


  @media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: 1000px;
    }



    
  }
  @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
      height: 600px;
    }
  }

  .btn .fa {
    margin-left: 3px;
  }

  .top-nav-collapse {
    background-color: #fff !important;

 
  }

  .navbar:not(.top-nav-collapse) {
   background:  #1c2331 !important;
  }

  @media (max-width: 991px) {
   .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
   }
  }

  .btn-white {
    color: black !important;
  }

  h6 {
    line-height: 1.7;
  }

.widget.map {
  padding: 10px;
}

.widget.map #map_canvas {
  height: 300px;
}


.rgba-gradient {
    background: -moz-linear-gradient(45deg, rgba(28, 35, 49, 1), rgba(13, 17, 198, 0.69) 100%);
    background: -webkit-linear-gradient(45deg, rgba(28, 35, 49, 1), rgba(13, 17, 198, 0.69) 150%);
    background: -webkit-gradient(linear, 45deg, from(rgba(28, 35, 49, 1)), to(rgba(13, 17, 198, 0.69)));
    background: -o-linear-gradient(45deg, rgba(28, 35, 49, 1), rgba(13, 17, 198, 0.69) 100%);
    background: linear-gradient(to 45deg, rgba(28, 35, 49, 1), rgba(29, 210, 177, 0.7) 100%);
  }


.media .avatar {
    width: 64px;
}
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.mask {
  padding-top: 100px;
    padding-bottom: 50px;
 background-color: #fff !important;

}

.star-review {
  color: #ffbf00;
  font-size: 13px;
  font-weight: 600;
}


.avatar-pic {
width: 150px;
}

h4 {
  
  
  font-family: "Roboto Slab", serif;
  font-size: 18px;
    font-weight: 400;
}

h1 {
  font-family: "Roboto Slab", sans-serif;
}



.circle-icon {
    background: #f3715d;
    padding:10px;
    border-radius: 50%;
}

p {
display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 13px;
    }

    


.nav-link {
    font-family: "Roboto Slab", serif;
    padding-left:10px;
  }

  .navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #fff;
      padding-left:  20px;

    }



  .btn-danger {
  font-weight: bold;
  }

.text-color {
   font-size:28px;
   color:  #ff7043;
     font-weight: 200;
    font-family: "Roboto Slab", serif;

    padding-bottom:5px;
  }

 
.cyan-text {
  color: #1c2331  !important;
 font-family: "Roboto Slab", serif;
}

.text-cyan {
  color: #007bff;
font-family: "Roboto Slab", serif;
padding-top: 0.3125rem;
padding-bottom: 0.3125rem;
margin-right: 1rem;
font-size: 25px;
font-weight: bold;
line-height: inherit;
white-space: nowrap;
text-transform: uppercase;
}

.navbar.scrolling-navbar{
  
    margin-bottom: 50px !important;
}

.top {
  padding-top: 100px;
}


.description {
  font-size: 15px;
}

a {
  color: black;
}

.color a  {
  color: white;
}

.space a  {
  color: purple;
}



.list-group-item.d-flex justify-content-between.dark-grey-text.space a {
  color: pink;
}


.unique-color {
    background-color: #33b5e5 !important;
}

.text-warning {
  color:  #ab4c2e !important;
  font-family: "Roboto Slab", serif;
}


.jumbotron  {

  color:  #fff;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}



.badge-info {
    color: #fff !important;
    background-color: #d65538 !important;
}

.btn-outline-orange {
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #f57c00 !important;
}




.space {
  margin-left: 10%;
  margin-right: 10%;
}

.color {
  margin-left: 10%;
  margin-right: 10%;
}



.widget.map {
  padding: 10px;
}


 #map {
      height: 400px;
    }


#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 10px 0px;
  margin-top: 30px;
  
}

.btn-orange {
font-weight: bold;

}

html {
  height: 100%;

}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}



.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}

.list ul
{
list-style-type: none;
padding: 0;
margin: 0;
text-align: left;
width: 10em;

}

.list li
{
background-image: url(arrow.gif);
background-repeat: no-repeat;
background-position: 100% .4em;
padding-right: .6em;
margin: 0.2em 0;
font-size: 15px;
  
  font-family: "Roboto Slab", serif;
}

.list a {
  color: blue;
}



.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}






.card-title {
  font-size: 18px;
  font-family: "Muli", sans-serif;
}

label {
  font-size: 14px;
  letter-spacing: 0;
  color: #848484;
}

.nav-pills .nav-link {
  font-size: 16px;
}

@media (max-width: 480px) {
  .nav-pills .nav-link {
    font-size: 12px;
  }
}

.nav-pills.with-background .nav-item {
  margin-right: 10px;
}

.nav-pills.with-background .nav-item:last-child {
  margin-right: 0;
}

.nav-pills.with-background .nav-link {
  background: white;
  padding: 10px 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.nav-pills.with-background .nav-link:hover {
  color: #5672f9;
}

.nav-pills.with-background .nav-link.active {
  background: #5672f9;
  position: relative;
  transition: 0s;
}

.nav-pills.with-background .nav-link.active:hover {
  color: #fff;
}

.nav-pills.with-background .nav-link.active:after {
  content: '';
  position: absolute;
  left: 42%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #5672f9;
  clear: both;
  transition: all .2s ease-in 0s;
}

.nav-pills.transparent .nav-link {
  background: transparent;
  margin-bottom: 20px;
  color: #848484;
  font-size: 24px;
}

@media (max-width: 768px) {
  .nav-pills.transparent .nav-link {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .nav-pills.transparent .nav-link {
    font-size: 12px;
  }
}

.nav-pills.transparent .nav-link.active {
  background: transparent;
  color: #666;
}

ul.pagination li {
  margin-right: 10px;
}

ul.pagination li a {
  border-radius: 3px !important;
  font-size: 16px;
  padding: 0;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-color: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: #666;
}



.bg-shadow {
  background-color: #fff;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-title {
  position: relative;
  margin-bottom: 75px;
  text-align: center;
}

.section-title h2 {
  font-size: 30px;
  letter-spacing: 0.05em;
  text-align: center;
}

.section-title h2:before {
  content: " ";
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  width: 127px;
  height: 2px;
  background-color: #e0e0e0;
}

.section-title h2:after {
  content: " ";
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  width: 40px;
  height: 5px;
  background-color: #5672f9;
}

.section-title p {
  font-size: 18px;
  line-height: 30px;
  color: #848484;
}

.user-profile, .dashboard {
  padding-top: 50px;
}

.overly {
  position: relative;
}

.overly:before {
  content: '';
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-wrapper {
  padding: 70px 0;
}

.social-media-icons ul li {
  display: inline-block;
}

.social-media-icons ul li a {
  font-size: 18px;
  color: #333;
  display: inline-block;
  padding: 7px 12px;
  color: #fff;
}

.social-media-icons ul li .twitter {
  background: #00aced;
}

.social-media-icons ul li .facebook {
  background: #3b5998;
  padding: 7px 18px;
}

.social-media-icons ul li .googleplus {
  background: #dd4b39;
}

.social-media-icons ul li .dribbble {
  background: #ea4c89;
}

.social-media-icons ul li .instagram {
  background: #bc2a8d;
}



.mb-30 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.border-bottom {
  border-bottom: 1px solid #dedede;
}

.bl-none {
  border-left: none !important;
}

.alt-color {
  color: #c7c7c7;
}

.success {
  color: #1fcc2e;
}

.page-title {
  background: #5672f9;
  padding: 35px 0;
}

.page-title h3 {
  color: #fff;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 1;
  margin-bottom: 0;
}

ul.pagination li {
  margin-right: 10px;
}

ul.pagination li a {
  font-weight: 600;
  border-radius: 3px !important;
  font-size: 16px;
  padding: 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-color: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: #666;
}

ul.pagination li a:hover {
  background-color: #5672f9 !important;
  color: #fff !important;
  border-color: transparent !important;
}

ul.pagination .active a {
  background-color: #5672f9 !important;
  color: #fff !important;
  border-color: transparent !important;
}


.page-search .advance-search .form-group {
  margin-bottom: 0;
}



.arrow-right, .arrow-left {
  cursor: pointer;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #025fd3;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.arrow-right {
  right: -18px;
}

.arrow-left {
  left: -18px;
}

.product-item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.product-item .card {
  border: none;
}

.product-item .card .card-body {
  padding: 20px;
}

.product-item .card .card-body .card-title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
}

.product-item .card .card-body .card-text {
  color: #777;
}

.product-item .thumb-content {
  position: relative;
}

.product-item .thumb-content .price {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #5672f9;
  color: #fff;
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
}


.product-details .product-title {
  font-size: 25px;
  font-weight: 600;
}

.product-details .tab-title {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.product-details .product-meta li {
  color: #888;
  margin-right: 25px;
}

.product-details .product-meta li a {
  color: #333;
  margin-left: 3px;
}

.product-details .content {
  padding-top: 40px;
}

.product-details .content h3 {
  font-size: 20px;
  font-weight: bold;
}

.product-details .content p {
  color: #888;
  line-height: 22px;
}

.product-details .content .nav {
  text-align: center;
  margin-bottom: 5px;
}

.product-details .content .nav .nav-item {
  margin-right: 3px;
}

.product-details .content .nav .nav-item .nav-link {
  padding: 20px 30px;
  border-radius: 0;
  background: #fff;
}

.product-details .content .nav .nav-item .nav-link:hover {
  background: #5672f9;
  color: #fff;
}



.product-details .content .tab-content {
  background: #fff;
  padding: 30px;
}

.product-details .content .nav .nav-item .nav-link.active {
    background: #fb3;
}

.product-slider {
  padding: 40px 0;
}

.product-slider .carousel-indicators li {
  background: #888;
}

.product-slider .carousel-indicators li.active {
  background: #5672f9;
}

.product-slider .slick-dots {
  display: flex;
  bottom: -50px;
}

.product-slider .slick-dots li {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 0;
}

.product-slider .slick-dots li:first-child {
  margin-left: 0;
}

.product-slider .slick-dots li:last-child {
  margin-right: 0;
}

.product-slider .slick-dots li img {
  max-width: 100%;
  height: auto;
}

.product-table {
  margin-top: 20px;
}

.product-table tr td:first-child {
  background: #f9f9f9;
}

.product-table tr td {
  padding-left: 25px;
}

.product-review img {
  width: 60px;
  margin-right: 20px;
}

.product-review .name h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-review .media-body {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 2px;
}

.product-review .review-submission h5 {
  font-size: 16px;
  color: #888;
}

.product-review .review-submission .rate {
  margin-bottom: 20px;
}

.product-review .review-submission .rate i {
  margin: 0 5px;
}

.product-review .review-submission .form-control {
  margin-bottom: 8px;
  border-radius: 0;
}

.product-review .review-submission input[type="email"], .product-review .review-submission input[type="password"], .product-review .review-submission input[type="text"], .product-review .review-submission input[type="tel"] {
  height: 40px;
}

.widget {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 25px 30px 30px;
  margin-bottom: 30px;
  border-radius: 2px;
}

.widget .widget-header {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.widget.category-list ul li:not(:last-child) {
  border-bottom: 1px solid #F4F7F9;
}

.widget.category-list ul li a {
  padding: 8px 0;
  display: block;
  transition: all linear 0.3s;
}

.widget.category-list ul li a span {
  float: right;
  font-size: 10px;
  background: #F4F7F9;
  border-radius: 10px;
  padding: 3px 8px;
  color: #84919B;
}

.widget.category-list ul li a:hover {
  color: #5672f9;
}

.widget.category-list ul li a:hover span {
  background: #5672f9;
  color: #fff;
}

.widget.filter .nice-select {
  width: 100%;
}

.widget.filter .nice-select .list {
  width: 100%;
}

.widget.price-range b {
  font-size: 13px;
  color: #888;
}

.widget.price-range .slider.slider-horizontal {
  width: 100%;
}

.widget.price-range .slider-handle {
  background: #5672f9;
}

.widget.price-range .slider-track {
  margin-top: -2px;
  height: 5px;
  box-shadow: none;
  border-radius: 0;
  background: #f5f5f5;
}

.widget.price-range .slider-selection {
  background: #dedede;
  box-shadow: none;
}

.widget.price {
  background: #5672f9;
}

.widget.price h4 {
  color: #fff;
}

.widget.price p {
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.widget.map {
  padding: 10px;
}

.widget.map #map_canvas {
  height: 300px;
}

.widget.category ul.category-list li {
  margin-bottom: 8px;
}

.widget.category ul.category-list li a {
  font-size: 15px;
  letter-spacing: 0;
  display: block;
  color: #848484;
}

.widget.category ul.category-list li a:hover {
  color: #5672f9;
}

.widget.category ul.category-list li:last-child {
  margin-bottom: 5px;
}

.widget.archive ul.archive-list li {
  margin-bottom: 10px;
}

.widget.archive ul.archive-list li:last-child {
  margin-bottom: 5px;
}

.widget.archive ul.archive-list li a {
  font-size: 15px;
  letter-spacing: 0;
  display: block;
  color: #848484;
}

.widget.archive ul.archive-list li a:hover {
  color: #5672f9;
  text-decoration: underline;
}

.widget.share-coupon .sbHolder, .widget.share-coupon .form-control {
  margin-bottom: 10px !important;
}

.widget.share-coupon button {
  width: 100%;
}

.widget.coupon {
  background: #5672f9;
  padding: 35px 30px 40px 30px;
}

.widget.coupon p {
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 25px;
}

.widget.rate .starrr {
  display: flex;
  justify-content: center;
}

.widget.rate .starrr i {
  font-size: 20px;
  cursor: pointer;
  color: #e6b322;
  padding: 0 5px;
}

.widget.filter {
  padding-bottom: 17px;
}

.widget.filter .form-1 {
  margin-bottom: 20px;
}

.widget.filter .form-check-label {
  font-size: 14px;
  color: #848484;
}

.widget.filter .form-check-label input {
  margin-right: 10px;
}

.widget.filter .form-check-label input[type=checkbox]:checked .form-check-label {
  color: #5672f9 !important;
}

.widget.filter .form-check-label:hover {
  color: #5672f9;
}

.widget.user {
  padding-top: 50px;
}

.widget.user .image img {
  width: 157px;
  height: 157px;
  border-radius: 100%;
  border: 7px solid #dedede;
}

.widget.user h5 {
  font-size: 20px;
  margin-top: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

.widget .welcome-message h2 {
  font-size: 30px;
  line-height: 54px;
  letter-spacing: .05em;
}

.widget .welcome-message p {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0;
  color: #848484;
}

.widget.personal-info .form-group, .widget.change-password .form-group, .widget.change-email .form-group {
  margin-bottom: 25px;
}

.widget.personal-info .form-group i, .widget.change-password .form-group i, .widget.change-email .form-group i {
  color: white;
  background: #5672f9;
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-right: 15px;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .widget.personal-info .form-group i, .widget.change-password .form-group i, .widget.change-email .form-group i {
    margin-bottom: 20px;
  }
}

.widget.personal-info .form-check, .widget.change-password .form-check, .widget.change-email .form-check {
  margin-bottom: 25px;
}

.widget.personal-info .form-check .form-check-label input, .widget.change-password .form-check .form-check-label input, .widget.change-email .form-check .form-check-label input {
  margin-right: 7px;
}

.widget.personal-info button, .widget.change-password button, .widget.change-email button {
  margin-top: 5px;
  margin-bottom: 10px;
}

.widget.product-shorting .form-check {
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .widget.search {
    margin-top: 30px;
  }
}

.widget.search .input-group .form-control {
  border: none;
}

.widget.search .input-group .input-group-addon {
  background: #5672f9;
  color: #fff;
  border: none;
}

.widget.search .input-group .input-group-addon i {
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 45px;
  cursor: pointer;
}



.comment {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 2px;
}

.comment h4 {
  font-size: 20px;
  letter-spacing: 0;
}

.comment button {
  margin: 10px 0;
}


form textarea {
  height: 200px;
}

.product-review img {
    width: 16px;
    margin-right: 0px;
}

