


.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}


.clr {
  clear: both;
}
html,
body,
header,
.view {
height: 100vh;

}


@media (max-width: 740px) {
.view .mask h1{

}
}



.view .mask {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
background-attachment: fixed;
background-color: #efefef;
padding-top: 7%;
padding-bottom: 30px;
height: 400px;

}

.mask {
  padding-top: 100px;
    padding-bottom: 50px;
 background-color: #013953 !important;

}

.slide {

padding-top: 60px;
}

h1 {
font-weight: bold;
}


@media (max-width: 740px) {
html,
body,
header,
.view 
{
height: 950px;
}
}

@media (min-width: 800px) and (max-width: 850px) {
html,
body,
header,
.view {
height: 100vh;
}
}

@media (min-width: 560px) and (max-width: 650px) {
header .view .mask h1 {
margin-bottom: .5rem !important;
}
header .view h5 {
margin-bottom: .5rem !important;
}
}


@media (min-width: 660px) and (max-width: 700px) {
header .view h1 {
margin-bottom: 1.5rem !important;
}
header .jarallax h5 {
margin-bottom: 1.5rem !important;
}
}

.top-nav-collapse {
background-color: #fff !important;
margin-bottom: 30%;
}
.navbar:not(.top-nav-collapse) {
background: transparent !important;
background: #9da4b1 !important;
}
@media (max-width: 768px) {
.navbar:not(.top-nav-collapse) {
background:  #9da4b1 !important;
}
}

@media (min-width: 800px) and (max-width: 850px) {
.navbar:not(.top-nav-collapse) {
background: #efefef!important;
}
}

footer.page-footer {
background-color: #9da4b1;
  font-family: "Helvetica Neue", Helvetica;
}




.navbar-brand h2{

 font-family: "Roboto", sans-serif;
}


.slide .card {
margin-top: 0px;
}

.navbar {
  padding-top: 20px;

}
.text-warning {
color: #ff6e40 !important;
}

.nav-link 
{

font-weight: bold;


}

.navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
color: #212529;
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #212529;
    -webkit-transition: .35s;
    transition: .35s;
}


.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
  padding: 20px;

}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
   padding: 20px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.jumbotron  {
 background-color: #013953 !important;
  color: white;
}
h2.text-purple {
  color: #73259a;
}


.btn-default {
    color: #fff;
    background-color: #013953 !important;
}


 
.dropdown-menu a:hover{

 background: linear-gradient(left, #0272a7, #013953);
 background: -moz-linear-gradient(left, #0272a7, #013953)!important;
 background: -webkit-gradient(linear, 100% 100%, 0% 0%, from(#0272a7), to(#013953))!important;
color: #f8f9fa !important;
 -webkit-transition: all 0.2s ease-in-out;
 -moz-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out; }
